.menulink {
    
    a {
        @include titlelink();
        color: $black !important;
        font-size: 2em !important;
        padding: 6px; 
    }

    @media only screen and (max-width: 900px) {
        text-align: center !important;
        a {
            font-size: 1.2em !important;
            text-overflow: inherit !important;
        }
        
    }
    
}

.colmenuright {
    height: 100%; 
    padding: $menupadding !important;
    padding-bottom: $menupadding !important;
    padding-top: $menupadding !important;
}

.menurow {
    margin-bottom: 0px;
    margin-right: 0px !important; 
    margin-left: 0px  !important;

    .tabs {
        text-align: right !important;
    }
}


.uppermenu {
    width: 100%; 
    padding: 25 px;
    text-align: right;

    .btntransparent {
        margin: auto;
    }
}

.steplogo {
    max-width:100%;
    max-height:100%;
    padding: $menupadding;
}

.blackbar {
    background: $black;
    height: 4px;
    width: 100%;
}

.fbar1 {
    background: $grey;
    padding: 0px;
}

.fbar2 {
    font-family: $font;
    background: $black !important;
    color: white; 
}