$psize: 1.5em;
$font: 'Montserrat', sans-serif;
$titlefont: 'Montserrat Subrayada', sans-serif;


@mixin standardtext($fontsize) {
    text-align: center;
    font-family: $font;
    font-size: $fontsize;
}

@mixin buttonbasics {
    text-transform: uppercase;
    font-family: $titlefont !important;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 42px;
    &:hover {
        cursor: url('../img/cursor22.png'), auto !important;
    }
}

a {
    &:hover {
        cursor: url('../img/cursor22.png'), auto !important;
    }
}
@mixin titlelink {
    font-family: $titlefont;
}

h1 {
    @include standardtext(3em);
    color: $black;
    font-weight: bolder;
    margin: 12px;
}

h3 {
    @include standardtext(2em);
    font-weight: lighter;
    margin: 6px;
}


.textblack {
    @include standardtext($psize);
    color: $black;
    background: white;
}

.textwhite {
    @include standardtext($psize);
    color: white; 
    background: $black;
    padding: 12px; 
    width: 100%; 
    margin-bottom: 12px;
}

.btnblack {
    @include buttonbasics();
    background: $black !important;
    color: white !important;
    &:hover {
        background: $abalonegrey !important;
        color: $black !important;
    }
}

.btnwhite {
    @include buttonbasics();
    background: white !important;
    color: $black !important;
    &:hover {
        background: $abalonegrey !important;
    }
}

.btntransparent {
    @include buttonbasics();
    color: $black !important;
    background: transparent;
    text-shadow:2px 2px 2px #aaa;
    // padding: 12px !important;
    display: inline-block;
    vertical-align: center;
    // line-height: 36px;
    &:hover {
        text-shadow: none !important;
        background: transparent; 
    }
}