$black: #222021;
$grey: #777B7E;
$abalonegrey: #D6CFC7;
$menupadding: 12px;
$boxwidth: 1000px;
$size: 3px;
$red: red; 

@import "./textandbuttons";
@import "./home.scss";
@import "./navbar.scss";

html {
    min-height: 100% !important;
    cursor: url('/img/cursor.png'), auto !important;
}
body {
    background: white;
    min-height: 100% !important;
}

.containedrow {
    margin-left: 0px !important;
    margin-right: 0px !important;
}



.main {
    background: white;
    max-width: $boxwidth !important;
    margin-bottom: 64px;
}