<!-- <div class="card">
    <div class="card-image flipsjoerdimg">
        <img class="activator" src="{{bm.img.url}}">
        <span class="card-title">{{bm.function}}</span>
    </div>
    <div class="card-content spcontent activator">
        <p>{{bm.name}} <i class="material-icons">chevron_right</i></p>
    </div>
    <div class="card-reveal cardtextact">
        <span class="card-title grey-text text-darken-4">{{bm.name}}<i class="material-icons right">close</i></span>
        <p>
            {{bm.description}}
        </p>
        <div class="card-action">
            <a href="mailto:{{bm.email}}">Email</a>
            <a href="https://www.linkedin.com/in/philip-venema-1223a919b/">Linkedin</a>
        </div>
    </div>
</div> -->
