{% extends "website/index.html" %} 

{% block content %}

<div class="row hometext mensentitle">
    <h1>Doneren</h1>
</div>
<div class="row hometext meedoenblock">
    <p class="textblack">
        STEP heeft als stichting een Culturele ANBI status. Hierdoor is uw gift voor ons 
        belastingvrij en voor u voor wel 125% aftrekbaar van uw inkomstenbelasting. Bedrijven 
        die onder de vennootschapsbelasting vallen, mogen zelfs 150% het bedrag aftrekken in 
        de aangifte vennootschapsbelasting.

        Meer informatie hierover kan gevonden worden op
        de <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/aftrekposten/persoonsgebonden-aftrek/giften_aan_goede_doelen/hoeveel_aftrek_krijg_u/">website van de belastingdienst</a>
        of in <a href="https://docs.google.com/document/d/1j5nw05uvXr-7RoGXa-dXXL2K9B1GoEoV/edit?usp=drive_web&ouid=111313673182196489747&rtpof=true">dit document</a>.

        <br><br>Steunen kan als vaste donateur of met een eenmalige donatie. Voor bedrijven
        zijn er daarnaast nog mogelijkheden met adverenties in programmaboekjes, neem
        voor meer informatie daarover contact op met onze penningmeester, <a href="mailto:penningmeester@ensembleproject.nl">penningmeester@ensembleproject.nl</a>.
    </p>
</div>
<div class="row hometext meedoenblock">
    <h3>Periodieke gift</h3>
    <p class="textblack">
    Wilt u ons steunen middels een periodieke gift (min. 5 jaar)? Geweldig!
Dit is voor u de meest voordelige manier tot schenken. Afhankelijk van uw belastingtarief (van 49,5% of 37,35%) betaalt u voor een gift van €200 slechts resp. €76 of €107.

Neemt u voor het worden van een vaste donateur graag contact op met <a href="mailto:donatie@ensembleproject.nl">donatie@ensembleproject.nl</a> om samen de door de belastingdienst gewenste overeenkomst in te vullen.
    </p>
</div>

<div class="row hometext meedoenblock ">
    <h3>Eenmalige gift</h3>
    <p class="textblack">
    Een eenmalige gift kan snel en eenvoudig, en ook hier biedt onze Culturele ANBI status fiscaal voordeel. Voor een gift van €500 euro betaalt u zelf bij een belastingtarief van 37,35% (en belastbaar inkomen van €35.000) slechts €397. 
         Maak uw donatie over naar 
        <emph>Stichting Ensemble Project (STEP)</emph> met IBAN <b>NL26 TRIO 0320017605</b>. 
    </p>
</div>

<div class="row hometext mensentitle">
    <h1>Sponsoring</h1>
</div>
<div class="row hometext meedoenblock lastblock">
    <p class="textblack">
    Voor bedrijven zijn er daarnaast nog mogelijkheden met advertenties in onze programmaboekjes, 
    of op onze posters en flyers. Hiernaast kunt u bij ons terecht voor het huren van een klein 
    ensemble. Neem voor meer informatie daarover contact op met onze acquisiteur, <a href="mailto:acquisiteur@ensembleproject.nl">acquisiteur@ensembleproject.nl</a>.
    </p>
</div>

{% endblock %}
