
{% extends "website/index.html" %} 
{% load website.website_extras %}

{% block content %}

<div class="row hometext">
    <h2>Aanmeldingsformulier</h2>
</div>
<!-- https://script.google.com/macros/s/AKfycbzOpO3bJwBfW8YXBEtpVVnG9nZN5-RYRbT9zxHhi-CRWTfQ8S0U/exec -->
<div class="row hometext formblok">
    <form name='' method='post' class="col s12">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 m6">
                <input name="{{ form.naam.html_name }}" id="{{ form.naam.id_for_label }}" type="text" class="validate" required>
                <label for="{{ form.naam.id_for_label }}">Naam *</label>
            </div>
            <div class="input-field col s12 m6">
                <input name="{{ form.achternaam.html_name }}" id="{{ form.achternaam.id_for_label }}" type="text" class="validate" required>
                <label for="{{ form.achternaam.id_for_label }}">Achternaam *</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input name="{{ form.geboortejaar.html_name }}" id="{{ form.geboortejaar.id_for_label }}" type="number" required>
                <label for="{{ form.geboortejaar.id_for_label }}">Geboortejaar *</label>
            </div>

            <div class="input-field col s12 m6">
                <input name="{{ form.woonplaats.html_name }}" id="{{ form.woonplaats.id_for_label }}" type="text" required>
                <label for="{{ form.woonplaats.id_for_label }}">Woonplaats *</label>
            </div>
        </div>

        <div class="row">
            <h3>Instrument</h3>
        </div>
        <div class="row">
            <div class="col s12 m6 input-field">
                {{ form.voorkeursinstrument }}
                <label for="{{ form.voorkeursinstrument.id_for_label }}">Voorkeursinstrument *</label>
            </div>
            <div class="input-field col s12 m6">
                <textarea name="{{ form.toelichting_instrument.html_name }}" id="{{ form.toelichting_instrument.id_for_label }}" class="materialize-textarea"></textarea>
                <label class="active" for="{{ form.toelichting_instrument.id_for_label }}">Speel je nog andere instrumenten daarnaast? Zo ja, welke?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input name="{{ form.speelduur.html_name }}" id="{{ form.speelduur.id_for_label }}" type="number" required>
                <label for="{{ form.speelduur.id_for_label }}">Hoeveel jaar speel je al? *</label>
            </div>

            <div class="input-field col s12 m6">
                <input name="{{ form.orkesten.html_name }}" id="{{ form.orkesten.id_for_label }}" type="text" required>
                <label for="{{ form.orkesten.id_for_label }}">Orkesten *</label>
            </div>
        </div>

        <div class="row">
            <h3>Repetities</h3>
            <!-- <h5 class="privacytekst">Klik <a target="__blank" href="{% settings_value "REPETITIE_DATA" %}">hier</a> voor het repetitieschema.</h5> -->
        </div>
        <div class="row">
            <div class="col s12 m6 repetitietext">
                <select name="{{ form.aanwezigheid_repetities.html_name }}" required>
                    <option value="" selected disabled hidden>Kun je naar alle repetities komen? *</option>
                    <option value="{{ True }}">Ja</option>
                    <option value="{{ False }}">Nee</option>           
                </select>
            </div>
            <div class="input-field col s12 m6 toelichtingcontainer">
                <textarea name="{{ form.repetitie_toelichting.html_name }}" id="{{ form.repetitie_toelichting.id_for_label }}" class="materialize-textarea toelichtingbox"></textarea>
                <label for="{{ form.repetitie_toelichting.id_for_label }}">Toelichting</label>
            </div>
        </div>

        <div class="row">
            <h3>Contactinformatie</h3>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <input name="{{ form.e_mail.html_name }}" id="{{ form.e_mail.id_for_label }}" type="email" required>
                <label for="{{ form.e_mail.id_for_label }}">Email *</label>
            </div>
            <div class="input-field col s12 m6">
                <input name="{{ form.telefoon.html_name }}" id="{{ form.telefoon.id_for_label }}" type="tel" class="validate" required>
                <label for="{{ form.telefoon.id_for_label }}">Telefoonnummer *</label>
            </div>
        </div>

        <div class="row">
            <h3>Overige</h3>
        </div>

        <div class="row">
            <div class="col s12 m6 input-field">
                {{ form.gevonden }}
                <label for="{{ form.gevonden.id_for_label }}">Hoe heb je ons gevonden? *</label>
            </div>
            <div class="input-field col s12 m6">
                <input name="{{ form.studie_werk.html_name }}" id="{{ form.studie_werk.id_for_label }}" type="text" required>
                <label for="{{ form.studie_werk.id_for_label }}">Studie / Werk *</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m12">
                <textarea name="{{ form.opmerkingen.html_name }}" id="{{ form.opmerkingen.id_for_label }}" class="materialize-textarea toelichtingbox"></textarea>
                <label for="{{ form.opmerkingen.id_for_label }}">Opmerkingen, bijv.: Ben je geïnteresseerd in een aanvoerderspositie? Zou je nog op een andere manier betrokken willen zijn bij STEP?</label>
            </div>
        </div>
        
        <div class="row">
            <p>
                <label>
                    <span class="privacytekst">Door je aan te melden ga je akkoord met de  <a target="__blank__" href="{% settings_value "PRIVACY_URL" %}">privacy voorwaarden</a>.</span>
                </label>
            </p>
        </div>
        <button id="formsubmit" class="btn btnblack" value='Submit' type='submit'>Aanmelden</button>
    </form>

    <script>

    </script>

    
{% endblock %}
