{% extends "website/index.html" %} 
{% block content %}
<div class="row z-depth-3 containedrow ">
    <div class="hero-image ">
        <div class="hero-text z-depth-2">
            <h1>{{h.heading}}</h1>
            {% if h.subheading %}
                <h3>{{h.subheading}}</h3>
            {% endif %}
            <a href="{{ h.btnurl}}" target="__blank" class='waves-effect waves-light btn btnred'>{{ h.btntext }}</a>
        </div>
        
    </div>
</div>

<div class="row containedrow hometext">
    <p class="textblack">
        STEP is een projectorkest dat zich richt op orkestwerk voor kleine, unieke bezettingen. Van oude én
        nieuwe componisten.

    </p>
    <a class='waves-effect waves-light btn btnwhite' href="/meedoen">doe mee</a>
</div>
{% endblock %}