{% extends "website/index.html" %} 
{% block content %}
{% load website.website_extras %}

<div class="row z-depth-3 containedrow blackbox mensenlinks">
    <ul class="blackbox">
        <li><a class="textwhite" href="#bestuur">Bestuur</a></li>
        <li><a class="textwhite" href="#dircomp">Samenwerkingen</a></li>
        <li><a class="textwhite" href="#aanbeveling">Comité van aanbeveling</a></li>
    </ul>
</div>

<div class="row hometext mensentitle" id="bestuur">
    <h2>Bestuur</h2>
</div>

<div class="row hometext">

{% if bestuur %}
    {% for bm in bestuur %}
        <div class="col m4 s12">
        {% include 'website/person.html'  %}
        </div>
    {% endfor %}
{% endif %}

</div>

<div class="row hometext mensentitle" id="dircomp">
    <h2>Samenwerkingen</h2>
</div>

<div class="row hometext">
{% if creatives %}
    <ul class="aanbevelinglijst">
    {% for bm in creatives %}
        <li>{{bm.name}}<br>
            <em class="ondertitel">
            {{bm.function}}
            </em>
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>


<div class="row hometext mensentitle" id="aanbeveling">
    <h2>Comité van aanbeveling</h2>
</div>

<div class="row hometext mensentitle" id="aanbeveling">
    <ul class="aanbevelinglijst">
        {% if committee %}
            {% for cm in committee %}
                <li>{{cm.name}}<br>
                <em class="ondertitel">
                 {{cm.description}}
                </em>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

{% endblock %}