{% extends "website/index.html" %} 

{% block content %}
<div class="row containedrow">
   <p class="textblack">
      Je formulier is succesvol opgestuurd!</p>
   </div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div><div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div><div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div>
<div class="row containedrow"></div><div class="row containedrow"></div>

{% endblock %}